<section class="container">
  <ul class="cards-content">
  <% items.slice(0, 7).forEach(item => { %>
    <% if (item.title === "Lunchbox Monitor" || item.title === "Getting Started") { %>
      <% return %>
    <% } %>
    <li class="card-wrap">
      <a class="card" href="<%= url_for(item.path) %>">
        <h4 class="card-title"><%= item.title %></h4>
        <% if (item.excerpt) { %>
          <%- item.excerpt %>
        <% } else { %>
          <% var br = item.content.indexOf('\n') %>
          <% if(br === -1) { %>
            <%- item.content %>
          <% } else { %>
            <%- item.content.substring(0, br) %>
          <% } %>
        <% } %>
      </a>
    </li>
  <% }) %>
  </ul>
</section>
